
@media (max-width: 1024px) {
    .flex-container {
        display: block;
        width: 100%;
        list-style: none;

    }
    .flex-container h1 {
        font-size: 4vh;
    }
    .flex-container a {
        display: none;
    }

    #button {
        display: none;
    }

    #button a {
        display: none;
    }

    #picture img {
        display: none;
    }

    #head {
        margin: 0 5%; height: auto;
    }

    #desc {
        width:95%;padding-left: 5px;
    }
    #desc p {text-align: justify;padding:0;margin:0;}

    #header,#footer {  right:0;left:0}

    html {scroll-behavior: smooth;margin: 0;padding: 0;}
    body { margin: 0 auto;padding: 0;background-color: #fcf8f5; color: #2c2d48;font-family: 'Lora', serif;}
    h1 {font-size: 7vw;font-family: 'Lora', serif; margin:0;font-weight: 700;}
    h2 {font-size: 6vw;font-family: 'Lora', serif;margin: 0}
    h3 {font-size: 3.5vw;}
    p {font-size: 2.5vw;font-family: 'Poppins', sans-serif;}
}

@media (min-width: 1024px) {
    #header,#footer {  right:0;left:0}

    html {scroll-behavior: smooth;margin: 0;padding: 0;}
    body { margin: 0 auto;padding: 0;background-color: #fcf8f5; color: #2c2d48;font-family: 'Lora', serif;}
    h1 {font-size: 5vw;font-family: 'Lora', serif; margin:0;font-weight: 700;}
    h2 {font-size: 2vw;font-family: 'Lora', serif;margin: 0}
    h3 {font-size: 1.5vw;}
    p {font-size: 1.05vw;font-family: 'Poppins', sans-serif;}

    #desc p {text-align: justify;padding:0;margin:0;}
    #picture img {}

    #head {
        margin: 0 15%; margin-top: 0;height: auto;
    }
    #desc {
        width:80%;padding-left: 5px;
    }

    #button {
        border-radius: .5em;
        border: 1px solid #2c2d48;
        color: #fcf8f5;
        text-align: center;
        margin: 0.25rem;
    }

    #button a {
            color: #2c2d48;
            padding: 0.5em;
    }

    .flex-container {
        list-style: none;
        
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
    }
    .flex-item h1 {padding-right: 1em;}
    .flex-item a {
        color:  #2c2d48;
        padding-right: 1rem;
        font-size: 1.25vw;
    }

    .flex-item {  margin-bottom: 0; }
}

#img-grid {
    width: 100%;
    height: auto 0;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
/* Create four equal columns that sits next to each other */
#column {
flex: 24%;
max-width: 24%;
padding: 0 4px;
}

#column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
#column {
    flex: 45%;
    max-width: 45%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
#column {
    flex: 45%;
    max-width: 45%;
}
}